.blog-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44rem;
    width: 100%;
    margin-bottom: 3rem;
}

.blog-page .content-padding {
    height: 2rem;
}

.blog-page h1 {
    padding: 0.5rem;
    padding-left: 2rem;
    background-color: #16161d;
    border-radius: 10px;
}

.blog-page .list-container {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.blog-page .create-post-container {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.next-steps {
    display: flex;
    flex-direction: column;
}

.next-steps h1 {
    padding: 0.5rem;
    padding-left: 2rem;
    background-color: #16161d;
    border-radius: 10px;
}

.next-steps ul {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    font-size: 2rem;
    align-items: flex-start;
    margin-left: 5rem;
    margin-top: 0;
}
