#about {
    scroll-margin-top: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flexbox;
}

#about .section-header {
    height: 5rem;
    background-color: #16161d;
    padding-left: 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

#about .section-header h1 {
    color: #abb5d4;
    font-size: 2.5rem;
    display: flex;
}

#about .section-content {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

#about .img-container {
    /* control max size */
    max-width: 250px;
    /* centering */
    /* margin: 0 auto; */
    /* reserving space before image loads */
    aspect-ratio: 16 / 9;
    justify-content: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 2rem;
}

#about .img-container img {
    display: block;
    width: 15rem;
    height: auto;
    border: 1px solid #557c9d;
    border-radius: 7px;
}

#about .about-text {
    display: flex;
    flex-direction: column;
    color: #e0def4;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

#about .about-text .ps {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    align-items: center;
}


#about .about-text .ps .bold {
    font-family: "SF Rounded Black";
}

#about .about-text .ps .vid-link {
    padding: 2px 10px;
    border-radius: 15px;
    display: inline-flex;
    background: none;
    border: none;
    align-items: center;
    font-size: 1.2rem;
    height: fit-content;
    cursor: pointer;
    margin-left: 2rem;
    color: #3e8fb0;
    text-decoration: none;
    position: relative;
}

#about .about-text .ps .vid-link .drop {
    height: 1.5rem;
    width: 1.5rem;
}

#about .about-text .ps .vid-link:hover::after {
    content: '';
    position: absolute;
    left: 11px;
    right: 14.5px;
    bottom: 3px;
    height: 1.3px;
    background-color: currentColor;
    /* uses the button's text color */
}
