ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 999;
  background-color: #1e1f28;
}

.nav-bar .nav-container {
  max-width: var(--max-content-width);
  padding: 0;
  z-index: 999;
}

/*= for small laptop screens =*/
@media (max-width: 1440px) {
  .nav-bar .nav-container {
    max-width: 1100px;
    padding: 0;
  }
}

.nav-bar .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1f28;
  margin: 0;
}

/* ================== LOGO BUTTON ==================*/
.logo {
  width: 3rem;
  height: 3rem;
  background-color: rgba(85, 124, 157, 0.7);
  border-radius: 3.5px;
  display: flex;
  transition: ease-in-out 0.2s;
  position: relative;
}

.nav-bar .logo a {
  width: 3rem;
  height: 3rem;
  display: block;
  padding: 0;
}

.nav-bar .logo a>img {
  width: 3rem;
  height: 3rem;
}

.logo:hover {
  transform: translate(-0.1rem, -0.1rem);
  box-shadow:
    rgba(85, 124, 157, 0.3) 0.12rem 0.08rem,
    rgba(85, 124, 157, 0.2) 0.14rem 0.12rem,
    rgba(85, 124, 157, 0.1) 0.16rem 0.16rem;
}

.logo:active {
  transform: scale(0.85);
  box-shadow:
    rgba(85, 124, 157, 0) 1.5px 1.5px,
    rgba(85, 124, 157, 0) 2px 2px,
    rgba(85, 124, 157, 0) 3px 3px;
}

/* ================== PAGE LINKS ==================*/
.nav-bar .nav-content .nav-list {
  display: flex;
  flex-direction: row;
}

.nav-bar li>a {
  text-decoration: none;
  margin-left: 25px;
  padding: 0.2rem;
  display: block;
  /* color: #ccd6f6; */
  color: #a9b3d1;
  position: relative;
}

.nums {
  font-weight: 500;
  color: #557c9d;
  text-decoration: none;
}

.nav-bar li>a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #557c9d;
  margin-left: 5px;
  transition: ease-in-out 0.2s;
}

.nav-bar li>a.about::before {
  transform: translateX(-0.5px);
}

.nav-bar li>a.projects::before {
  transform: translateX(-0.5px);
}

.nav-bar li>a.experience::before {
  transform: translateX(-1px);
}

.nav-bar li>a.contact::before {
  transform: translateX(-0.5px);
}

.nav-bar li>a.about:hover::before {
  width: 91.5%;
}

.nav-bar li>a.projects:hover::before {
  width: 93%;
}

.nav-bar li>a.contact:hover::before {
  width: 93%;
}

.nav-bar li>a.experience:hover::before {
  width: 95.5%;
}

.nav-bar .items {
  transition: ease-in-out 0.3s;
}

.nav-bar li>a:hover {
  color: #557c9d;
}

.nav-bar li>a {
  transition: ease-in-out 0.1s;
}

.nav-bar li>a:active {
  transform: scale(0.9);
}

/* ================== RESUME BUTTON ==================*/
button.resume {
  margin-left: 30px;
  border: 2px solid #557c9d;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  color: #ccd6f6;
  border-radius: 5px;
  background-color: #2a2a37;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

button.resume:hover {
  transform: translate(-0.2rem, -0.2rem);
  box-shadow:
    rgba(85, 124, 157, 0.4) 0.08rem 0.08rem,
    rgba(85, 124, 157, 0.3) 0.10rem 0.10rem,
    rgba(85, 124, 157, 0.2) 0.12rem 0.12rem;
  color: #557c9d;
}

button.resume:active {
  transition: ease-in-out 0.1s;
  transform: scale(0.95);
  box-shadow:
    rgba(85, 124, 157, 0) 1.5px 1.5px,
    rgba(85, 124, 157, 0) 2px 2px,
    rgba(85, 124, 157, 0) 3px 3px;
}

/* ================== DIVIDER ==================*/
.nav-bar .nav-divide {
  display: flex;
  background-color: #4d515c;
  border-radius: 10px;
  width: 100%;
  height: 1px;
}
