.cursor {
  font-weight: 200;
  display: inline-block;
  color: #d1dcff;
  animation-delay: 0.3s;
}

.cursor.solid {
  animation: none;
}

.cursor.blink {
  -webkit-animation: 0.7s blink step-end infinite;
  -moz-animation: 0.7s blink step-end infinite;
  -ms-animation: 0.7s blink step-end infinite;
  -o-animation: 0.7s blink step-end infinite;
  animation: 0.7s blink step-end infinite;
  animation-delay: 0.5s;
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #d1dcff;
  }
}

@-moz-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #d1dcff;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #d1dcff;
  }
}

@-ms-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #d1dcff;
  }
}

@-o-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #d1dcff;
  }
}
