@font-face {
  font-family: JetBrains Mono;
  src: url(/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: SF Pro Text;
  src: url(/fonts/SFProText-Regular.ttf);
}

#root {
  /* SETTING MAX WIDTH AND HEIGHT OF THE WEBPAGE */
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  padding: 2rem;

  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scroll-margin-top: 1rem;
}
