@font-face {
  font-family: JetBrains Mono;
  src: url(/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: SF Pro Text;
  src: url(/fonts/SFProText-Regular.ttf);
}


:root {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: none;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scroll-margin-top: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
