@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Nunito Italic;
    src: url(/public/fonts/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Finlandica;
    src: url(/fonts/Finlandica-VariableFont_wght.ttf);
}

@font-face {
    font-family: Finlandica Italic;
    src: url(/fonts/Finlandica-Italic-VariableFont_wght.ttf);
}

:root {
    font-family: "Nunito", monospace, sans-serif;
    font-optical-sizing: none;
    font-size: 100%;
    line-height: normal;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #232136;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scroll-margin-top: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

.nums {
    font-weight: 500;
    font-family: 'Finlandica';
    color: #557c9d;
    text-decoration: none;
}

.section-header h1 .nums {
    display: flex;
    position: relative;
    top: -1px;
}
