@font-face {
  font-family: JetBrains Mono;
  src: url(/fonts/JetBrainsMono-Regular.ttf);
}


:root {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: none;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scroll-margin-top: 1rem;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
