.container {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  /* padding-left: var(--padding-horizontal); */
  /* padding-right: var(--padding-horizontal); */
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}
